body {
	padding: 50px;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
	color: white;
	background-image: radial-gradient( at 50% top, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),radial-gradient( at right top, #794aa2 0%,rgba(121,74,162,0) 57%);
	background-color: #3B2F63;
	letter-spacing: 0.05em;
}

.container {
	position: relative;
	width: 500px;
	margin-left: 50%;
	left: -250px;
	text-align: center;
	margin-top: 500px;
	font-size: 20px;
}

.container tr {
	background-color: #584aa2;
	margin: 100px;
	height: 50px;
}

.container tr:hover {
	background-color: #684aa2;
}

h1 {
	font-weight: lighter;
}