<head>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<title>Rock Paper Scissors Spock Lizard</title>
</head>
<body>
	<h1>Rock Paper Scissors Spock Lizard</h1>
	<table class="container">
		<tr>
			<td><img src="/images/spock.png" data-pick="spock"></td>
			<td><img src="/images/scissors.png" data-pick="scissors"></td>
			<td><img src="/images/rock.png" data-pick="rock"></td>
			<td><img src="/images/lizard.png" data-pick="lizard"></td>
			<td><img src="/images/paper.png" data-pick="paper"></td>
		</tr>
	</table>
	<script src="/lib/RockPaperScissors.js"></script>
</body>