<head>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<title>Rock Paper Scissors Spock Lizard</title>
</head>
<body>
	<h1>Rock Paper Scissors Spock Lizard</h1>
	<table class="container">
		<td>Rock</td>
		<td>Paper</td>
		<td>Scissors</td>
		<td>Spock</td>
		<td>Lizard</td>
	</table>
</body>